@page "/"

<PageTitle>Nothies.Blazor.DexieWrapper Demo</PageTitle>
<h1>Nothies.Blazor.DexieWrapper Demo</h1>

<button @onclick="CreatePersonClicked">Create Person</button>

<button @onclick="ReadPersonClicked">Read Person</button>

<button @onclick="UpdatePersonClicked">Update Person</button>

<button @onclick="DeletePersonClicked">Delete Person</button>

<br /><br /><br />

@if(_person != null) {
    <table>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td>@_person.FirstName</td>
             </tr>
            <tr>
                <td>Second Name:</td>
                <td>@_person.SecondName</td>
            </tr>
            <tr>
                <td>Birthday:</td>
                @if (_person.Birthday > DateTime.MinValue)
                {
                    <td>@_person.Birthday.ToString("d")</td>
                }
            </tr>
        </tbody>
    </table>
}

<br /><br /><br />
<InputFile OnChange="@CreateBild" accept="image/x-png,image/jpeg" />

<button @onclick="LoadBild">Load Bild</button>

<img src="@_imgSrc" />